body {
  font-family: 'Arial', sans-serif;
  background-color: #fffaf0; /* Warm, homely background */
  color: #4a4a4a;
  margin: 0;
  padding: 0;
  
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 4rem 1rem;
  background: url('/images/kitchen-bg.jpg') no-repeat center center/cover;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
}

.hero-page-text{
  color: hsl(25, 60%, 4%);
  font-size: 0.7rem;
  
} 
.app-theme{
  background-color: hsl(207, 58%, 77%);
  color: hsl(25, 60%, 4%);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*addtional info*/
.info-text{
display: flex;
justify-content: center;  
align-items: center;
font-size: 1.5rem;
background-color: hsl(190, 33%, 69%);
}
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.info-text {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.hero-page-text{
  height: 900px;
}
.shopnow-button{
display: flex;
align-self:flex-end;
justify-content: end;
align-items: end;
}
#image1{

  width: 100%  ;
  height: 350px;
  padding: 0px 10px 10px 10px;
}
